<div class="TableList">

 <table class ="table table-borderd">
    <thead>
     <tr>


       <th>first_name</th>
       <th>last_name</th>
        <th>email</th>


         <th>Action</th>
     <tr>
    </thead>
    <tbody>

     <% @users.each do |user|%>
       <tr>
         <td><%= user.first_name%></td>
         <td><%= user.last_name%></td>
         <td><%= user.email%></td>
        <td> <%= link_to "leaves_application", new_leafe_path %></td>

       </tr>
     <% end %>

   </tbody>
  </table>
 </div>
